img {
  max-width: 100%;
  max-height: 100%;
}
.hero {
  height: fit-content;
  width: fit-content;
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #111;
  color: white;
  overflow: hidden;
  background-image: url("../../Assets/demo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .header {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    &__wrap {
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 85vw;
    }
    &__left {
      display: flex;
      align-items: center;
      gap: 2rem;
      & li {
        font-size: 18px;
        font-weight: 700;
      }
    }
    @media (max-width: 1200px) {
      &__wrap {
        width: 100vw;
      }
    }
    @media (max-width: 600px) {
      &__sm {
        display: none;
      }
    }
    @media (max-width: 370px) {
      & {
        left: 36%;
      }
      &__wrap {
        gap: 20%;
      }
      .coolLink[data-text="Home"] {
        display: none;
      }
    }
  }
  .socials {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    z-index: 2;
  }

  .scrollDown {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    &__wheel {
      height: 42px;
      width: 24px;
      margin-top: -3px;
      border-radius: 10px;
      border: 2px solid white;
      &--inner {
        position: absolute;
        left: 10px;
        margin-top: 5px;
        width: 4px;
        height: 4px;
        background: white;
        border-radius: 50%;
        animation: movingwheel 0.5s linear infinite;
        @keyframes movingwheel {
          0% {
            top: 1px;
          }
          25% {
            top: 2px;
          }
          50% {
            top: 3px;
          }
          75% {
            top: 4px;
          }
          100% {
            top: 5px;
          }
        }
      }
    }
    .scrollDown__arrow {
      display: flex;
      flex-direction: column;
      align-items: center;
      .scrollDown__arrow {
        width: 15px;
        height: 15px;
        border-right: 2px solid white;
        border-bottom: 2px solid white;
        transform: rotate(45deg);
        animation: scrollAnim 1s infinite;
        &:nth-child(1) {
          animation-delay: 0.1s;
        }
        &:nth-child(2) {
          animation-delay: 0.2s;
        }
        &:nth-child(3) {
          animation-delay: 0.3s;
        }
        @keyframes scrollAnim {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 0.5;
          }
          100% {
            opacity: 1;
          }
        }
      }
    }
  }
  .intro {
    position: relative;
    top:4vh;
    width: 100%;
    height: 70%;
    z-index: 2;
    color: white;
    text-align: center;
   

    .swiper {
      width: 80%;
      height: 120%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: tra#fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
     
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      
      -webkit-box-reflect: below 2px
        linear-gradient(transparent, transparent, #0004);

      transform-origin: center;
      transform: perspective(800px) rotateY(25deg);
      transition: 0.5s;
    }
    .container {
      max-width: 600px;
      max-height: 350px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .container:hover img {
      opacity: 0.3;
    }
    .container img:hover {
      transform: perspective(800px) rotateY(0deg);
      opacity: 1;
      box-shadow: 10px 10px 50px 10px #0ff;
    }
   
    h4 {
      align-items: center;
      justify-content: center;
      font-family: "Skygraze", cursive;
      color: yellow;
      span {
        font-family: "Hindi", sans-serif;
        font-size: 50px;
      }

      font-size: 60px;
      @media (max-width: 450px) {
        font-size: 35px;
      }
    }
    h1 {
      font-family: "Combo", cursive;
      font-size: 30px;
      width: 93%;
      padding-top: 1rem;
    }
  }
  @media (max-width: 450px) {
    & {
      background-image: url("../../Assets/demo1.jpg");
    }
    h4 {
      font-size: 10px;
    }
  }
}
