body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "CARBON";   
  src: url("./Assets/fonts/CARBON-DROID.ttf") format('truetype');

}

@font-face {
  font-family: "Skygraze";
  font-weight: bold;
  src: url("p./../Assets/fonts/Skygraze.otf") format("opentype");
}
